<div class="recipe-card">
  <div class="card-img">
    <img src="https://source.unsplash.com/random"/>
  </div>
  <div class="card-content">
    <h2 class="recipe-title">Recipe title</h2>
    <hr>
    <div class="recipe-details">
      <div class="recipe-details-item time">
        <p class="values">
          <ion-icon name="time-outline"></ion-icon>
          <span class="value">20</span>
        </p>
        <p class="title">Minutes</p>
      </div>
      <div class="recipe-details-item ingredients">
        <p class="values">
          <ion-icon name="book-outline"></ion-icon>
          <span class="value">5</span>
        </p>
        <p class="title">Ingredients</p>
      </div>
      <div class="recipe-details-item servings">
        <p class="values">
          <ion-icon name="people-outline"></ion-icon>
          <span class="value">4-6</span>
        </p>
        <p class="title">Serving</p>
      </div>
    </div>
  </div>
</div>
