// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
// $yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
$light-gray: #F4F4F4;

$green: #01696e;
$gray: #5c5c63;
$yellow: #e0ca3c;
$purple: #713e5a;
$dark-green: #01474b;
