<div class="container">

    <h1 class="text-center">Recipe Title</h1> <br>

   <center><img src="https://source.unsplash.com/user/erondu" class="container-img"></center><br>

    <div class="container-flex">
      <div class="container-flex-title">
        <div class="title">
        <ion-icon name="time-outline"></ion-icon>
        Minutes
        </div>
        <center>20</center>
      </div>

      <div class="container-flex-title">
        <div class="title">
          <ion-icon name="book-outline"></ion-icon>
          Ingredients
        </div>
        <center>8</center>
      </div>

      <div class="container-flex-title">
        <div class="title">
        <ion-icon name="people-outline"></ion-icon>
        Serving</div>
        <center>4</center>
      </div>
    </div
</div>
<br>
<div class="container">
  <h2 class="text-left">Ingredients</h2> <br>
    <li>Lorem ipsum dolor </li>
    <li>Lorem ipsum dolor </li>
    <li>Lorem ipsum dolor </li>
    <li>Lorem ipsum dolor </li>


<br>
  <h2 class="text-left">Instruction</h2> <br>
  <li> "Lorem ipsum dolor sit amet, consectetur adipiscing elit,,</li>
  <li> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
  <li> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
</div>
<br>
