<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-img">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "chefme_trial_logo2_transparent_no_slogan.png" %>
    <% end %>
  </div>
</div>
