
<%= content_for(:navbar_class, "navbar-home") %>

<div class='banner-container'>
  <div class='banner-container-content text-center'>
    <h2>Let Your Inner Chef Out</h2>
    <p class='quote'>" No one is born a great cook,</p>
    <p class='quote'>ones learns by doing "</p>
    <p class='quote_author'>- Julia Child</p>
    <p> Learn how to cook with what you have in your fridge</p>
    <%= link_to 'Start Now !', recipes_path , class: 'button' %>
  </div>
</div>

