<div class='banner-container'>
  <div class='banner-container-content text-center'>
    <div class="logo">
      <img src="/assets/chefme_trial_logo2_transparent_no_slogan-d672db6620288e5ae16493b26777b1ba28ebc62b14a5d74dc1583bc1e7e6841d.png" style="margin-top: 15px;">
      <h2>Let your inner chef out</h2>
    </div>
    <div class="p-home" style="margin-top: 150px;">
      <p class='quote'>" No one is born a great cook,</p>
      <p class='quote'>ones learns by doing "</p>
      <p class='quote_author'>- Julia Child</p>
      <p> Choose what to cook with whatever<br>
        you have in your fridge.</p>
    </div>
      <%= link_to 'Start Now!', recipes_path , class: 'button home' %>
  </div>
</div>
