<div class='banner-container'>
  <div class='banner-container-content text-center'>
    <div class="logo">
      <%= image_tag "chefme_trial_logo2_transparent_no_slogan.png" %>
      <h2>Let your inner chef out</h2>
    </div>
    <div class="p-home">
      <p class='quote'>" No one is born a great cook,</p>
      <p class='quote'>ones learns by doing "</p>
      <p class='quote_author'>- Julia Child</p>
      <p> Choose what to cook with whatever<br>
        you have in your fridge.</p>
    </div>
      <%= link_to 'Start Now!', recipes_path , class: 'button home' %>
  </div>
</div>
