<div>
  <h1 id='title'>What do you have in your fridge?</h1>
</div>
<div>
  <%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for an ingredient"
  %>
  <%= submit_tag "Search", class: "button" %>
<% end %>
</div>
