.search-form {
  margin-top: 3px;
}

.select2 {
  width: 100% !important;
}

.search-header {
  margin-top: 16px;
  font-size: 22px;
  text-align: center;
  color: $dark-green;
  font-weight: bold;
}
