
.back {
  color: $purple;
  font-size: 24px;
}

.back:hover {
  text-decoration: none;
  color: $green;
}

h1 {
  font-size: 30px;
}

.text {
  background-color: white;
  padding-top: 10px;
}

.image {
  object-fit: fill;
}

.back-and-icons {
  display: flex;
  justify-content: space-between;

  .icons {
    margin-top: 12px;
    font-size: 24px;
    margin-right: 8px;
    margin-bottom: 8px;

    a, i {
      text-decoration: none;
      color: gray;

    }
  }
}

.social {
  // border: 1px red solid;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .social-share-button {
    .ssb-icon {
      // border: 1px blue solid;
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
    }
  }
}
