.navbar-lewagon {
  justify-content: space-evenly;
  width: 100%;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 10px;
}

.navbar-home {
  position: absolute;
  justify-content: space-evenly;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}
